:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Gilroy', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .MuiContainer-root {
    padding-left: 16px;
    padding-right: 16px;
  }
}
